# Hugo build output
/public/
/resources/

# OS junk files
.DS_Store
Thumbs.db

# Environment/secrets (if you ever add them)
.env

# IDE files (optional but clean)
.vscode/
.idea/
26-0423_oeBlogBak.zip
static/images/.DS_Store
static/.DS_Store
layouts/.DS_Store
.DS_Store
